/*
font-family: 'Exo 2', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Indie Flower', cursive;
*/


body,
html {
    margin: 0;
    padding: 0;
    background: url("../img/background-800px.jpg") fixed;
    background-size: cover;
    color: #CFC9BD;
    font-family: 'Lato', sans-serif;
}

img,
embed,
object,
video {
    max-width: 100%;
}

a {
    grid-area: button;
    text-decoration: none;
    justify-self: center;
    cursor: pointer;
}

form {
    grid-area: button;
    text-decoration: none;
    justify-self: center;
    cursor: pointer;
}

.main-container {
    display: grid;
    position: relative;
    grid-template: 10% repeat(6, 13%) 10% / 1fr;
    grid-template-areas: "header"
                         "project-1"
                         "project-2"
                         "blog-move"
                         "project-5"
                         "project-3"
                         "project-4"
                         "footer";
}


/*--------------------------
           Header
---------------------------*/

.site-header {
    background-color: rgba(54, 49, 39, .95);
    padding: 10px;
    grid-area: header;
    justify-items: center;
    display: grid;
    grid-template: 50% 50% / 20% 60% 20%;
    grid-template-areas: "logo name hamburger"
                         "logo skills hamburger";
    box-shadow: 1px 1px 3px rgba(3, 2, 0, 0.64);
}

.logo {
    width: 42px;
    border-radius: 50%;
    grid-area: logo;
    border: 1px solid rgba(207, 201, 189, 0.5);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.64);
    padding: .2rem;
    background-color: rgba(97, 126, 158, 1);

}

.site-navigation {
    grid-area: hamburger;
    /*color: #CFC9BD;*/
    font-size: 2.4rem;
}

.menu-container {
    display: inline-block;
    cursor: pointer;
}

/*---- make bars for hamburger ----*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #CFC9BD;
    box-shadow: 2px 1px 11px rgba(3, 2, 0, 0.64);
    margin: 6px 0;
    transition: 0.4s;
}

/*---- animate bars to X ----*/

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger:hover {
    background-color: rgba(233, 211, 95, .5);
}

.hamburger:active {
    background-color: rgba(106, 118, 131, .5);
    color: #fff;
    box-shadow: none;
}

/*---- Name and Skills ----*/

.site-name {
    grid-area: name;
    justify-self: center;
    margin-bottom: 0;
    color: #CFC9BD;
    font-size: 1.2rem;
}

.skills {
    grid-area: skills;
    justify-self: center;
    margin: 3px;
    color: #CFC9BD;
    font-size: .7rem;
}

/*---- Menu/Hamburger navigation ----*/

.header-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1rem;
}

.nav {
    z-index: 10;
    background-color: rgba(54, 49, 39, 1);
    width: 84vw;
    position: absolute;
    border: 1px solid #CFC9BD;
    /* Transform moves the drawer off canvas. */
    transform: translate(0, -600px);
    /* Animate the drawer */
    transition: transform 0.3s ease;
}

.nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: list-item;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: left;
    line-height: 1rem;
    padding: 24px;
    font-size: 1rem;
}

.nav a {
    text-decoration: none;
    color: #CFC9BD;
    padding: 1.5rem 0;
    line-height: 1.2;
}

.nav a:hover {
    background-color: rgb(76, 98, 122);
    box-shadow: 2px 2px 5px rgba(3, 2, 0, 0.64);
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: underline;
    color: rgb(232, 228, 221);
}

.nav a:active {
    background-color: rgba(106, 118, 131, .5);
    color: rgb(224, 160, 116);
    box-shadow: none;
}


.nav.open {
    transform: translate(0, 0);
}


/*--------------------------
          Projects
---------------------------*/
.proj-container {
    border: 1px solid rgba(54, 49, 39, .8);
    background-color: rgba(54, 49, 39, .8);
    margin: 6%;
    display: grid;
    grid-template: 41% 13% 13% 13% / 100%;
    grid-template-areas: "image"
                         "title"
                         "highlight"
                         "text"
                         "button";
    padding: 15px;
    font-family: 'Alegreya', serif;
    box-shadow: 2px 2px 5px rgba(3, 2, 0, 0.64);

}

.project-1 {
    grid-area: project-1;
    /*padding: 10px;*/
}

.project-2 {
    grid-area: project-2;
}

.project-3 {
    grid-area: project-3;
}

.project-4 {
    grid-area: project-4;
}

.project-5 {
    grid-area: project-5;
}

.proj-img {
    grid-area: image;
    justify-self: center;
    border: 4px inset rgba(207, 201, 189, 0.5);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.64);
}

.proj-heading {
    grid-area: title;
    justify-self: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.proj-highlight {
    grid-area: highlight;
    justify-self: center;
    text-align: center;
}

.proj-text {
    grid-area: text;
    justify-self: left;
    line-height: 1.5;
    text-align: justify;
}

.button {
    grid-area: button;
    border: 1px solid black;
    border-radius: 20px;
    justify-self: center;
    background-color: rgba(97, 126, 158, 1);
    box-shadow: 2px 2px 11px rgba(3, 2, 0, 0.72);
    font-size: 1.2rem;
    color: rgb(232, 228, 221);
    margin: 10px 0;
    padding: 8px 15px;
    outline: none;
    transition: background-color .3s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(144, 187, 232);
    text-decoration: underline;
    color: rgb(79, 77, 72);
}

.button:active {
    background-color: rgba(106, 118, 131, .5);
    color: rgb(224, 160, 116);
    box-shadow: none;
}

.title-highlight {
    color: orange;
}

/*--------------------------
           Blog
---------------------------*/
.blog-container {
    border: 1px solid rgba(54, 49, 39, .8);
    background-color: rgba(54, 49, 39, .8);
    margin: 6%;
    display: grid;
    grid-template: 41% 13% 13% 13% / 50% 50%;
    grid-template-areas: "image title"
                         "highlight highlight"
                         "text text"
                         "button button";
    padding: 15px;
    font-family: 'Lato', sans-serif;
    box-shadow: 2px 2px 5px rgba(3, 2, 0, 0.64);
}

.blog {
    grid-area: blog-move;
}

.blog-img {
    grid-area: image;
    justify-self: center;
    width: 25vw;
    border-radius: 50%;
    border: 2px solid rgba(207, 201, 189, 0.5);
    box-shadow: 2px 3px 11px rgba(3, 2, 0, 0.64);
}

.blog-heading {
    grid-area: title;
    justify-self: center;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 1.4rem;
}

.blog-highlight {
    grid-area: highlight;
    justify-self: center;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.blog-text {
    grid-area: text;
    justify-self: left;
    line-height: 1.7;
    text-align: justify;
}

.code-highlight {
    background-color: rgba(204, 159, 201, .5);
    border-radius: 5px;
    padding: 2px;
}


/*--------------------------
           Aside
---------------------------*/

.topic-container {
    display: none;
}

.topics {
    list-style-type: none;
    padding: 5px;
}

.topic-item {
    line-height: 2.7;
    font-size: 1.2rem;
}

.topic-item a {
    color: #CFC9BD;
}

.topic-item a:hover {
    background-color: rgb(76, 98, 122);
    box-shadow: 2px 2px 5px rgba(3, 2, 0, 0.64);
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: underline;
    color: rgb(232, 228, 221);
}

.topic-item a:active {
    background-color: rgba(106, 118, 131, .5);
    color: rgb(224, 160, 116);
    box-shadow: none;
}

/*--------------------------
           Footer
---------------------------*/
.footer {
    grid-area: footer;
    background-color: rgba(54, 49, 39, .95);
    display: flex;
    justify-content: center;
    padding: 15px;
}