/*---- Small devices (landscape phones, 576px and up) ----*/
@media (min-width: 576px) {
    .project-1 {
        /*margin-top: 17%;*/
    }
}



/*---- Medium devices (tablets, 768px and up) ----*/
@media screen and (min-width: 768px) {

    body,
    html {
        background: url("../img/background-1300px.jpg") fixed;
    }

    /*.site-header {*/
        /*grid-template: 40% 60% / 20% 60% 20%;*/
        /*grid-template-areas: "logo name hamburger"*/
                             /*"logo skills hamburger";*/
        /*height: 11vh;*/
    /*}*/

    /*.logo {*/
        /*width: 7vw;*/
        /*margin: auto;*/
    /*}*/

    /*.site-name {*/
        /*font-size: 1.5rem;*/
    /*}*/

    /*.skills {*/
        /*font-size: 1rem;*/
    /*}*/

    /*.nav-item {*/
        /*line-height: 1rem;*/
        /*padding: 1rem;*/
        /*font-size: 1.3rem*/
    /*}*/

    /*.main-container {*/
        /*display: grid;*/
        /*grid-template: 3% repeat(6, 2fr) 0 / 1fr;*/

    /*}*/

    /*.proj-container {*/
        /*grid-template: 25% 25% 40% 10% / 50% 50%;*/
        /*grid-template-areas: "image title"*/
                             /*"image highlight"*/
                             /*"text text"*/
                             /*"button button";*/
        /*margin: 1.5rem 3rem;*/
        /*height: 35vh;*/
    /*}*/

    .main-container {
        display: grid;
        grid-template: 2% repeat(7, 2fr) 10% / 50% 50%;
        grid-template-areas: "header header"
                             "project-1 blog-move"
                             "project-2 project-list"
                             "project-3 ."
                             "project-4 ."
                             "project-5 ."
                             "project-6 ."
                             "project-7 ."
                             /*"project-8 ."*/
                             "footer footer";
    }


    /*.blog-container {*/
        /*border: 1px solid rgba(54, 49, 39, .8);*/
        /*background-color: rgba(54, 49, 39, .8);*/
        /*margin: 9% 6%;*/
        /*display: grid;*/
        /*grid-template: 30% 20% 30% 20% / 55% 45%;*/
        /*grid-template-areas: "image title"*/
                             /*"highlight highlight"*/
                             /*"text text"*/
                             /*"button button";*/
        /*!*height: auto;*!*/
        /*!*align-self: center;*!*/
    /*}*/

    .blog-button {

    }

    .topic-container {
        grid-area: project-list;
        display: flex;
        flex-direction: column;
        /*height: 70%;*/
        justify-content: start;
        border: 1px solid rgba(54, 49, 39, .8);
        background-color: rgba(54, 49, 39, .8);
        margin: 6%;
        padding: 1rem 0 1rem 1rem;
        align-self: center;
    }

    .project-1 {
    margin-top: 0px;
    }

    /*.proj-img {*/
        /*height: 45vh;*/
    /*}*/

    /*.proj-heading {*/
        /*margin: 1rem;*/
        /*font-size: 2rem;*/
    /*}*/

    /*.proj-highlight {*/
        /*justify-self: center;*/
        /*padding: 0  1.2rem;*/
        /*margin: auto;*/
    /*}*/

    /*.proj-text {*/
        /*justify-self: left;*/
        /*margin: auto;*/
        /*padding: 1rem 1.5rem;*/
    /*}*/

    /*.blog-img {*/
        /*margin: 2.2vw;*/
    /*}*/

    /*.blog-heading {*/
        /*margin-bottom: 0;*/
    /*}*/

    /*.blog-highlight {*/
        /*justify-self: center;*/
        /*padding: 0  1.2rem;*/
    /*}*/

    /*.blog-text {*/
        /*justify-self: left;*/
        /*padding: 0  1.2rem;*/
    /*}*/

    /*.blog-button {*/
        /*margin-bottom: 1rem;*/
    /*}*/
}


/*----- Large devices (desktops, 992px and up) -----*/
@media (min-width: 992px) {

}




/*----- Extra large devices (large desktops, 1200px and up) -----*/
@media (min-width: 1200px) {

}

/*---- media-query for iPad Pro (1024 x 1366) ----*/

@media screen and (min-width: 1023px) {

    body,
    html {
        background: url("../img/background-1800px.jpg") fixed;
    }

    /*.main-container {*/
        /*display: grid;*/
        /*grid-template: 3% repeat(6, 2fr) 10% / 60% 40%;*/
        /*grid-template-areas: "header header"*/
                             /*"project-1 blog-move"*/
                             /*"project-2 project-list"*/
                             /*"project-3 ."*/
                             /*"project-4 ."*/
                             /*"project-5 ."*/
                             /*"project-6 ."*/
                             /*"project-7 ."*/
                             /*"footer footer";*/
    /*}*/

    /*.site-header {*/
        /*justify-items: start;*/
        /*padding: 1rem 1.5rem;*/
        /*!*grid-template: 65% 35% / 20% 80% ;*!*/
        /*!*grid-template-areas: "logo name"*!*/
                             /*!*"logo skills";*!*/
        /*!*height: 10vh;*!*/
    /*}*/

    .blog-container {
        height: 40vh;
    }

    /*.logo {*/
        /*width: 5vw;*/
        /*border-radius: 50%;*/
        /*!*background-color: rgba(33, 150, 243, 0.70);*!*/
        /*background-color: rgba(97, 126, 158, 1);*/
    /*}*/

    /*.site-name {*/
        /*justify-self: self-end;*/
        /*!*padding: 0 20px;*!*/
        /*font-size: 1.7rem;*/
        /*margin: 1rem;*/
    /*}*/

    /*.skills {*/
        /*justify-self: self-end;*/
        /*!*padding: 0 20px;*!*/
        /*!*font-size: 1.5rem;*!*/
        /*margin: 0 1rem;*/
    /*}*/

    /*form,*/
    /*.blog-button {*/
        /*margin: auto;*/
    /*}*/

    /*.blog-heading {*/
        /*font-size: 3rem;*/
        /*margin: 3.4rem 0;*/
    /*}*/

    /*.blog-highlight {*/
        /*align-self: end;*/
    /*}*/

    .blog-text {
        padding: 0 .2rem;
    }


    /*.header-menu {*/
        /*display: none;*/
    /*}*/

    /*.topic-container {*/
        /*grid-area: project-list;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*height: 70%;*/
        /*justify-content: start;*/
        /*border: 1px solid rgba(54, 49, 39, .8);*/
        /*background-color: rgba(54, 49, 39, .8);*/
        /*margin: 6%;*/
        /*padding: 1rem 0 1rem 1rem;*/
        /*align-self: center;*/
    /*}*/

    /*.proj-img {*/
        /*height: 35vh;*/
    /*}*/

    .topic-instructions {
        padding: 1rem 1rem 0;
        margin: 0;
        text-align: center;
    }
}

@media screen and (min-width: 1400px) {
    .main-container {
        padding-top: 4rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .blog-container {
        height: 80vh;
    }
    /*.site-header {*/
        /*height: 13vh;*/
    /*}*/

    /*.logo {*/
        /*width: 5vw;*/
    /*}*/
    /*.proj-img {*/
        /*height: 45vh;*/
    /*}*/
}
